$white: rgb(255, 255, 255);

$light-black: rgba(0, 0, 0, 0.2);
$dark-black: rgba(0, 0, 0, 0.9);


$grey: rgb(50, 50, 50);
$dark-grey: rgb(70, 70, 70);

//$red: rgb(221, 55, 55);

//$green: rgb(136, 196, 106);
$granatowy: rgb(94, 110, 141);
$granatowyrgba: rgba(94, 110, 141, 0.9);
$yellow: rgb(255, 216, 143);
$yellowrgba: rgba(255,216, 143, 0.9);
$green2: rgb(53, 167, 133);
//Pallete
//$brown: rgb(119,79,56);
//$redd: rgb(224,142,121);
//$kremowy: rgb(241,212,175);
//$mniejkremowy: rgb(236,229,206);
//$niebieski: rgb(197,224,220);

//Red pallete
//$greyy: rgb(68,69,70);


$red: rgb(244, 105, 105);
$kremowy: rgb(223, 215, 190);
$purple: rgb(79, 73, 96);
$green: rgb(108, 195, 160);
$blue: rgb(104, 187, 191);
$inny: rgb(122, 105, 98);

$font-purple: rgb(97, 92, 114);

$gradientone: rgb(200, 199, 203);
$gradienttwo: rgb(231, 212, 195);

@import "reset";
@import "page";