$white: rgb(255, 255, 255);

$light-black: rgba(0, 0, 0, 0.2);
$dark-black: rgba(0, 0, 0, 0.9);

$red: rgb(244, 105, 105);
$blue: rgb(94, 110, 141);
$green: rgb(53, 167, 133);

@import "reset";
@import "page";