.transition {
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  transition: All 0.5s ease; }

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 10px #35a785; }
  50% {
    box-shadow: 0px 0px 80px #35a785; }
  100% {
    box-shadow: 0px 0px 10px #35a785; } }
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0px 0px 10px #35a785; }
  50% {
    box-shadow: 0px 0px 80px #35a785; }
  100% {
    box-shadow: 0px 0px 10px #35a785; } }
@-webkit-keyframes dropDown {
  0% {
    opacity: 0;
    top: -75px; }
  100% {
    opacity: 1;
    top: 0px; } }
@keyframes dropDown {
  0% {
    opacity: 0;
    top: -75px; }
  100% {
    opacity: 1;
    top: 0px; } }
@-webkit-keyframes opacityAnim {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes opacityAnim {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  overflow-x: hidden; }

body {
  -webkit-font-smoothing: antialiased;
  position: relative;
  overflow-x: hidden; }
  body #progress-bar {
    width: 100%;
    height: 10px;
    position: absolute;
    z-index: 999;
    background-color: #35a785;
    opacity: 1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  body #progress-bg {
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    z-index: 900;
    background-color: #f46969; }
  body #main {
    position: relative;
    overflow: hidden;
    width: 100%; }
    body #main header {
      width: 100%;
      margin-top: 50px;
      position: absolute;
      z-index: 99;
      -webkit-animation: opacityAnim 1.5s 1 forwards;
      -moz-animation: opacityAnim 1.5s 1 forwards;
      -o-animation: opacityAnim 1.5s 1 forwards;
      animation: opacityAnim 1.5s 1 forwards; }
      body #main header #menu-icon {
        position: absolute;
        top: 0px;
        width: 32px;
        height: 30px;
        padding: 10px 15px;
        float: left;
        font-size: 30px;
        color: white;
        cursor: pointer;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px; }
        body #main header #menu-icon:before {
          width: 0px;
          margin: 0px; }
        body #main header #menu-icon:hover {
          background-color: rgba(0, 0, 0, 0.2) !important; }
      body #main header #header-content {
        max-width: 1024px;
        height: 50px;
        margin: 0px auto;
        font-family: 'Raleway', sans-serif; }
        body #main header #header-content h1 {
          width: 150px;
          margin: 0px auto;
          position: relative;
          border-radius: 25px; }
          body #main header #header-content h1 a {
            display: block;
            padding: 10px 15px;
            font-size: 30px;
            font-weight: bold;
            color: white;
            text-decoration: none;
            border-radius: 25px; }
          body #main header #header-content h1:hover {
            background-color: rgba(0, 0, 0, 0.2); }
      body #main header .header-icon {
        top: 0px;
        right: 0px;
        height: 32px;
        padding: 9px 15px;
        position: absolute;
        font-size: 31px;
        text-decoration: none;
        color: white;
        border-radius: 25px; }
        body #main header .header-icon:hover {
          background-color: rgba(0, 0, 0, 0.2); }
      body #main header #header-github-icon {
        right: 82px; }
      body #main header #header-mail-icon {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px; }
      body #main header #header-github-icon:hover + #header-github-popup, body #main header #header-mail-icon:hover + #header-mail-popup {
        top: 60px;
        opacity: 1;
        visibility: visible; }
      body #main header .header-popup {
        top: 80px;
        padding: 10px 15px;
        position: absolute;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: white;
        background-color: #35a785;
        border-radius: 25px;
        opacity: 0;
        visibility: hidden; }
        body #main header .header-popup:before {
          content: '';
          top: -5px;
          left: 35px;
          width: 10px;
          height: 10px;
          position: absolute;
          z-index: -5;
          background-color: #35a785;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
      body #main header #header-github-popup {
        right: 10px; }
        body #main header #header-github-popup:before {
          left: 93px; }
      body #main header #header-mail-popup {
        right: 10px; }
        body #main header #header-mail-popup:before {
          left: 69px; }
    body #main section#about {
      background-image: url("../img/about-background.jpg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-size: cover;
      overflow: hidden;
      z-index: -9;
      font-family: 'Raleway', sans-serif; }
      body #main section#about #about-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(244, 105, 105, 0.85); }
      body #main section#about #about-content {
        max-width: 1024px;
        margin: 0px auto;
        padding: 100px 30px;
        padding-bottom: 50px;
        position: relative;
        text-align: center; }
        body #main section#about #about-content h2 {
          margin: 50px;
          font-size: 68px;
          color: white;
          position: relative;
          -webkit-animation: dropDown 1.5s 1 forwards;
          -moz-animation: dropDown 1.5s 1 forwards;
          -o-animation: dropDown 1.5s 1 forwards;
          animation: dropDown 1.5s 1 forwards; }
        body #main section#about #about-content #about-button-cont {
          width: 167px;
          height: 145px;
          left: 50%;
          margin-left: -83.5px;
          position: relative;
          -webkit-animation: dropDown 1.5s 1 forwards;
          -moz-animation: dropDown 1.5s 1 forwards;
          -o-animation: dropDown 1.5s 1 forwards;
          animation: dropDown 1.5s 1 forwards; }
          body #main section#about #about-content #about-button-cont #about-button-ph {
            width: 167px;
            height: 45px;
            bottom: 0px;
            position: absolute;
            border-radius: 25px;
            z-index: 5;
            cursor: pointer; }
            body #main section#about #about-content #about-button-cont #about-button-ph:hover ~ #about-button {
              -webkit-transform: rotate3d(1, 0, 0, -180deg);
              -moz-transform: rotate3d(1, 0, 0, -180deg);
              -ms-transform: rotate3d(1, 0, 0, -180deg);
              transform: rotate3d(1, 0, 0, -180deg); }
          body #main section#about #about-content #about-button-cont #about-button {
            width: 167px;
            left: 0px;
            margin: 0px;
            margin-top: 100px;
            padding: 10px 15px;
            position: absolute;
            font-family: 'Raleway', sans-serif;
            font-size: 18px;
            font-weight: 300;
            color: white;
            background-color: #35a785;
            border: 2px solid transparent;
            border-radius: 25px;
            z-index: 2;
            -webkit-transform-origin: top;
            -ms-transform-origin: top;
            transform-origin: top; }
          body #main section#about #about-content #about-button-cont #about-button-back {
            width: 167px;
            height: 45px;
            left: 0px;
            bottom: 0px;
            position: absolute;
            font-family: 'Raleway', sans-serif;
            font-size: 18px;
            font-weight: 300;
            color: white;
            background-color: transparent;
            border: 2px solid #35a785;
            border-radius: 25px; }
    body #main section#profile {
      width: 100%;
      position: relative;
      overflow: hidden;
      background-color: #5e6e8d; }
      body #main section#profile #profile-info {
        width: 100%; }
        body #main section#profile #profile-info #profile-info-content {
          max-width: 1024px;
          margin: 0px auto;
          padding: 13px 0px;
          text-align: center;
          font-family: 'Raleway', sans-serif;
          font-size: 24px;
          font-weight: 600;
          color: white;
          border-bottom: 2px solid white; }
      body #main section#profile #profile-content {
        max-width: 1024px;
        padding: 100px 30px;
        margin: 0px auto;
        text-align: center;
        font-family: 'Raleway', sans-serif; }
        body #main section#profile #profile-content #profile-image {
          width: 250px;
          height: 250px;
          margin: 0px auto;
          border-radius: 125px;
          cursor: pointer; }
          body #main section#profile #profile-content #profile-image #image-inner {
            width: 250px;
            height: 250px;
            background-image: url("../img/profile2.jpg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-size: cover;
            border-radius: 125px;
            border: 2px solid white;
            position: absolute;
            top: 152px;
            -webkit-transform: rotate3d(0, 1, 0, 180deg);
            -moz-transform: rotate3d(0, 1, 0, 180deg);
            -ms-transform: rotate3d(0, 1, 0, 180deg);
            transform: rotate3d(0, 1, 0, 180deg); }
          body #main section#profile #profile-content #profile-image #second-inner {
            top: 152px;
            position: absolute;
            width: 250px;
            height: 250px;
            background-image: url("../img/profile.jpg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-size: cover;
            border-radius: 125px;
            border: 2px solid white;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-animation: pulse 1s linear infinite;
            -moz-animation: pulse 1s linear infinite;
            -o-animation: pulse 1s linear infinite;
            animation: pulse 1s linear infinite; }
        body #main section#profile #profile-content h2 {
          margin: 100px auto;
          margin-bottom: 0px;
          font-size: 30px;
          color: white;
          line-height: 2; }
          body #main section#profile #profile-content h2 a {
            text-decoration: underline;
            color: #35a785; }
            body #main section#profile #profile-content h2 a:hover {
              text-decoration: none; }
    body #main section#projects {
      width: 100%;
      position: relative;
      overflow: hidden;
      background-color: #e1e1e1; }
      body #main section#projects #projects-info {
        width: 100%; }
        body #main section#projects #projects-info #projects-info-content {
          max-width: 1024px;
          margin: 0px auto;
          padding: 13px 0px;
          text-align: center;
          font-family: 'Raleway', sans-serif;
          font-size: 24px;
          font-weight: 600;
          color: #5e6e8d;
          border-bottom: 2px solid #5e6e8d; }
      body #main section#projects #projects-content {
        max-width: 1024px;
        padding: 100px 30px;
        margin: 0px auto;
        text-align: center;
        font-family: 'Raleway', sans-serif; }
        body #main section#projects #projects-content ul {
          width: 100%;
          display: inline-block; }
          body #main section#projects #projects-content ul li {
            width: calc(100% / 3);
            height: 400px;
            display: inline-block;
            float: left; }
            body #main section#projects #projects-content ul li .pr-li-mask {
              width: 100%;
              height: 100%;
              position: relative;
              background-color: rgba(0, 0, 0, 0.9);
              opacity: 0.7; }
              body #main section#projects #projects-content ul li .pr-li-mask:hover {
                opacity: 1; }
                body #main section#projects #projects-content ul li .pr-li-mask:hover .pr-title {
                  margin-top: 65px; }
                body #main section#projects #projects-content ul li .pr-li-mask:hover .pr-check-button {
                  bottom: 146px;
                  opacity: 1; }
                body #main section#projects #projects-content ul li .pr-li-mask:hover .pr-code-button {
                  bottom: 55px;
                  opacity: 1; }
                body #main section#projects #projects-content ul li .pr-li-mask:hover .pr-desc {
                  margin-top: 52px;
                  opacity: 1; }
                body #main section#projects #projects-content ul li .pr-li-mask:hover .pr-placeholder-title {
                  margin-top: 53px; }
                body #main section#projects #projects-content ul li .pr-li-mask:hover .pr-placeholder-desc {
                  margin-top: 92px; }
                body #main section#projects #projects-content ul li .pr-li-mask:hover .pr-placeholder-button {
                  bottom: 52px; }
              body #main section#projects #projects-content ul li .pr-li-mask .pr-title {
                margin-top: 188px;
                display: inline-block;
                font-size: 24px;
                font-weight: bold;
                color: white; }
              body #main section#projects #projects-content ul li .pr-li-mask .pr-desc {
                margin-top: 65px;
                padding: 0px 25px;
                font-weight: 500;
                color: white;
                opacity: 0; }
              body #main section#projects #projects-content ul li .pr-li-mask .pr-check-button, body #main section#projects #projects-content ul li .pr-li-mask .pr-code-button {
                left: 50%;
                bottom: 55px;
                margin-left: -68px;
                padding: 10px 15px;
                display: inline-block;
                position: absolute;
                font-size: 18px;
                font-weight: 500;
                color: #f46969;
                background-color: white;
                opacity: 0;
                border: 2px solid transparent;
                border-radius: 25px;
                outline: none;
                text-decoration: none;
                cursor: pointer; }
                body #main section#projects #projects-content ul li .pr-li-mask .pr-check-button:hover, body #main section#projects #projects-content ul li .pr-li-mask .pr-code-button:hover {
                  color: white;
                  background-color: #f46969; }
              body #main section#projects #projects-content ul li .pr-li-mask .pr-code-button {
                bottom: 0px; }
              body #main section#projects #projects-content ul li .pr-li-mask .pr-placeholder-title {
                margin-top: 178px;
                padding: 10px 15px;
                border: 2px dashed white;
                border-radius: 25px; }
              body #main section#projects #projects-content ul li .pr-li-mask .pr-placeholder-button {
                bottom: 0px;
                margin-left: -39px;
                cursor: default; }
          body #main section#projects #projects-content ul #zero-pr-li {
            background-image: url("../img/christmas-tree.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-size: cover; }
          body #main section#projects #projects-content ul #one-pr-li {
            background-image: url("../img/tictac.jpg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-size: cover; }
          body #main section#projects #projects-content ul #two-pr-li {
            background-image: url("../img/itunesgrid.jpg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-size: cover; }
          body #main section#projects #projects-content ul #three-pr-li {
            background-image: url("../img/contactform.jpg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-size: cover; }
          body #main section#projects #projects-content ul #four-pr-li {
            background-image: url("../img/calculator.jpg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-size: cover; }
          body #main section#projects #projects-content ul #five-pr-li {
            background-image: url("../img/personalsite.jpg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-size: cover; }
          body #main section#projects #projects-content ul #six-pr-li {
            background-image: url("../img/animatedlinks.jpg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-size: cover; }
          body #main section#projects #projects-content ul #seven-pr-li {
            background-image: url("../img/schoolportfolio.jpg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-size: cover; }
          body #main section#projects #projects-content ul #eight-pr-li {
            background-image: url("../img/menu.jpg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-size: cover; }
          body #main section#projects #projects-content ul #nine-pr-li {
            background-image: url("../img/loginform.jpg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-size: cover; }
          body #main section#projects #projects-content ul #ten-pr-li, body #main section#projects #projects-content ul #eleven-pr-li {
            display: none;
            background-color: #f46969; }
    body #main footer {
      width: 100%;
      position: relative;
      overflow: hidden;
      background-color: #f46969; }
      body #main footer #footer-content {
        max-width: 1024px;
        padding: 100px 30px;
        margin: 0px auto;
        font-family: 'Raleway', sans-serif; }
        body #main footer #footer-content h1 {
          width: 150px;
          display: inline-block;
          position: relative;
          border-radius: 25px; }
          body #main footer #footer-content h1 a {
            display: block;
            padding: 10px 15px;
            font-size: 30px;
            font-weight: bold;
            color: white;
            text-decoration: none;
            border: 2px solid white;
            border-radius: 25px;
            cursor: pointer; }
          body #main footer #footer-content h1:hover {
            background-color: white; }
            body #main footer #footer-content h1:hover a {
              color: #f46969; }
        body #main footer #footer-content ul {
          margin-top: 9px;
          display: inline-block;
          float: right; }
          body #main footer #footer-content ul li {
            margin-left: 10px;
            float: left; }
            body #main footer #footer-content ul li a {
              display: block;
              padding: 10px 15px;
              font-size: 18px;
              font-weight: 600;
              color: white;
              text-decoration: none;
              border-radius: 25px;
              cursor: pointer; }
              body #main footer #footer-content ul li a:hover {
                background-color: rgba(0, 0, 0, 0.2); }
        body #main footer #footer-content h3 {
          margin-top: 30px;
          color: white;
          text-align: left; }
  body nav {
    width: 200px;
    height: 100%;
    top: 0px;
    left: -200px;
    position: fixed;
    z-index: 200;
    background-color: #35a785;
    font-family: 'Raleway', sans-serif; }
    body nav ul {
      margin-top: 50px; }
      body nav ul li {
        margin: 10px;
        border-radius: 25px;
        cursor: pointer; }
        body nav ul li a {
          padding: 14px 15px;
          display: block;
          position: relative;
          font-size: 22px;
          font-weight: 600;
          color: white;
          text-align: left;
          text-decoration: none;
          border-radius: 25px; }
          body nav ul li a span {
            top: 9px;
            margin-left: -10px;
            position: absolute;
            font-size: 33px;
            opacity: 0; }
        body nav ul li:hover a {
          background-color: rgba(0, 0, 0, 0.2); }
        body nav ul li:hover span {
          opacity: 1; }
        body nav ul li:hover .nav-arrow-one {
          margin-left: 60px; }
        body nav ul li:hover .nav-arrow-two {
          margin-left: 21px; }
        body nav ul li:hover .nav-arrow-three {
          margin-left: 2px; }
    body nav .nav-icon {
      margin: 10px;
      padding: 10px 15px;
      position: absolute;
      font-size: 32px;
      color: white;
      text-decoration: none;
      border-radius: 25px;
      cursor: pointer; }
      body nav .nav-icon:hover {
        background-color: rgba(0, 0, 0, 0.2); }
    body nav #nav-github-icon {
      left: 0px; }
    body nav #nav-mail-icon {
      right: 0px; }
    body nav #nav-github-icon:hover + #nav-github-popup, body nav #nav-mail-icon:hover + #nav-mail-popup {
      top: 302px;
      opacity: 1;
      visibility: visible; }
    body nav .nav-popup {
      top: 322px;
      padding: 6px 8px;
      position: absolute;
      font-size: 16px;
      font-weight: 500;
      color: white;
      background-color: #f46969;
      border-radius: 25px;
      opacity: 0;
      visibility: hidden; }
      body nav .nav-popup:before {
        content: '';
        top: -5px;
        width: 10px;
        height: 10px;
        position: absolute;
        z-index: -5;
        background-color: #f46969;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
    body nav #nav-github-popup {
      left: 3px; }
      body nav #nav-github-popup:before {
        left: 40px; }
    body nav #nav-mail-popup {
      right: 3px; }
      body nav #nav-mail-popup:before {
        left: 37px; }
  body .sticky {
    position: fixed !important;
    margin-top: 0px !important;
    background-color: #f46969; }

/************************************************************ MEDIA QUERIES ************************************************************/
@media all and (max-width: 1024px) {
  body #main section#profile #profile-info #profile-info-content {
    margin: 0px 25px; }
  body #main section#projects #projects-info #projects-info-content {
    margin: 0px 25px; } }
@media all and (max-width: 925px) {
  body #main section#projects #projects-content ul li {
    width: calc(100% / 2); }
  body #main section#projects #projects-content ul #ten-pr-li {
    display: block; } }
@media all and (max-width: 620px) {
  body #main section#profile #profile-content {
    padding: 50px 30px; }
    body #main section#profile #profile-content #profile-image #image-inner {
      top: 100px; }
    body #main section#profile #profile-content #profile-image #second-inner {
      top: 100px; }
    body #main section#profile #profile-content h2 {
      margin-top: 50px;
      font-size: 24px; }
  body #main section#projects #projects-content {
    padding: 50px 30px; }
    body #main section#projects #projects-content ul li {
      width: 80% !important;
      float: none; }
    body #main section#projects #projects-content ul #ten-pr-li {
      display: none; }
  body #main footer #footer-content {
    padding: 50px 30px;
    text-align: center; }
    body #main footer #footer-content h1 {
      float: left; }
    body #main footer #footer-content ul {
      margin-top: 30px;
      float: none; } }
@media all and (max-width: 500px) {
  body #main header .header-icon {
    display: none; }
  body #main section#projects #projects-content ul li {
    width: 100% !important;
    float: none; } }
/************************************************************ END MEDIA QUERIES ************************************************************/

/*# sourceMappingURL=style.css.map */
