/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #4ecdc4;
  position: relative; }
  body #main {
    width: 500px;
    height: 650px;
    top: 50%;
    left: 50%;
    margin: -325px 0px 0px -250px;
    float: left;
    position: relative; }
    body #main #new-start {
      margin: 0px;
      padding: 18.5px 15px;
      background-color: #556270;
      box-shadow: 0px 5px 0px #363e47; }
      body #main #new-start:active {
        margin-top: 4px;
        box-shadow: 0px 5px 0px #4ecdc4; }
    body #main #wins, body #main #loses, body #main #ties {
      padding: 10px 15px;
      float: right;
      color: white;
      font-weight: bold;
      text-align: center;
      background-color: #ff6b6b;
      border-radius: 4px; }
      body #main #wins .counter, body #main #loses .counter, body #main #ties .counter {
        display: inline-block;
        margin-top: 5px;
        color: #c7f464;
        font-size: 32px; }
    body #main #loses {
      margin: 0px 25px; }
    body #main #main-game {
      width: 500px;
      height: 500px;
      bottom: 0px;
      display: none;
      float: left;
      position: absolute;
      background-color: #4ecdc4; }
      body #main #main-game .box {
        width: calc(100% / 3);
        height: calc(100% / 3);
        display: inline-block;
        float: left;
        font-size: 80px;
        background-color: #ff6b6b;
        cursor: pointer; }
        body #main #main-game .box span {
          -webkit-transition: All 0.2s ease-in-out;
          -moz-transition: All 0.2s ease-in-out;
          -o-transition: All 0.2s ease-in-out;
          transition: All 0.2s ease-in-out; }
        body #main #main-game .box .icon-circle-empty {
          margin-top: 25px;
          margin-left: -1px;
          display: inline-block;
          position: absolute;
          font-size: 150%;
          color: #c7f464;
          visibility: hidden;
          opacity: 0; }
        body #main #main-game .box .icon-cancel-1 {
          margin-top: -8px;
          margin-left: -48px;
          display: inline-block;
          position: absolute;
          font-size: 235%;
          color: #c7f464;
          visibility: hidden;
          opacity: 0; }
      body #main #main-game #one {
        border-top-left-radius: 4px;
        box-shadow: inset 0px -2px 0px #556270, inset -2px 0px 0px #556270; }
      body #main #main-game #two {
        box-shadow: inset 0px -2px 0px #556270, inset -2px 0px 0px #556270, inset 2px 0px 0px #556270; }
      body #main #main-game #three {
        border-top-right-radius: 4px;
        box-shadow: inset 0px -2px 0px #556270, inset 2px 0px 0px #556270; }
      body #main #main-game #four {
        box-shadow: inset 0px 2px 0px #556270, inset 0px -2px 0px #556270, inset -2px 0px 0px #556270; }
      body #main #main-game #five {
        box-shadow: inset 0px 2px 0px #556270, inset 0px -2px 0px #556270, inset -2px 0px 0px #556270, inset 2px 0px 0px #556270; }
      body #main #main-game #six {
        box-shadow: inset 0px 2px 0px #556270, inset 0px -2px 0px #556270, inset 2px 0px 0px #556270; }
      body #main #main-game #seven {
        border-bottom-left-radius: 4px;
        box-shadow: inset 0px 2px 0px #556270, inset -2px 0px 0px #556270; }
      body #main #main-game #eight {
        box-shadow: inset 0px 2px 0px #556270, inset -2px 0px 0px #556270, inset 2px 0px 0px #556270; }
      body #main #main-game #nine {
        border-bottom-right-radius: 4px;
        box-shadow: inset 0px 2px 0px #556270, inset 2px 0px 0px #556270; }
  body #init-mask {
    width: calc(100% - 50px);
    height: 100%;
    padding: 200px 25px;
    background-color: #556270;
    position: fixed;
    visibility: visible;
    opacity: 1;
    text-align: center; }
    body #init-mask h1 {
      padding: 25px 0px;
      font-size: 62px;
      color: #ff6b6b; }
  body .start-game-button {
    margin: 75px 0px;
    padding: 25px 50px;
    font-size: 26px;
    color: white;
    background-color: #ff6b6b;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 5px 0px #b44a4a;
    outline: none;
    cursor: pointer; }
    body .start-game-button:active {
      margin-top: 80px;
      box-shadow: 0px 5px 0px #556270; }
  body #end-mask {
    width: calc(100% - 50px);
    height: 100%;
    padding: 200px 25px;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    visibility: hidden;
    opacity: 0;
    text-align: center; }
    body #end-mask h1 {
      padding: 25px 0px;
      font-size: 62px;
      color: #ff6b6b; }
    body #end-mask .start-game-button:active {
      box-shadow: none; }

.transition {
  -webkit-transition: All 0.2s ease-in-out;
  -moz-transition: All 0.2s ease-in-out;
  -o-transition: All 0.2s ease-in-out;
  transition: All 0.2s ease-in-out; }

.box-visible {
  visibility: visible !important;
  opacity: 1 !important; }

.notvisible {
  visibility: hidden !important;
  opacity: 0 !important; }
