body {
	//font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
    #main {
        position: relative;
        overflow: hidden;
        width: 100%;
    header {
        width: 100%;
        margin-top: 50px;
        position: absolute;
        z-index: 99;
        #menu-icon {
            position: absolute;
            top: 0px;
            width: 32px;
            height: 30px;
            padding: 10px 15px;
            float: left;
            font-size: 30px;
            color: $white;
            cursor: pointer;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            &:before {
                width: 0px;
                margin: 0px;
            }
            &:hover {
                background-color: $light-black;
            }
        }
        #header-content {
            max-width: 1024px;
            height: 50px;
            margin: 0px auto;
            font-family: 'Raleway', sans-serif;
            h1 {
                width: 150px;
                margin: 0px auto;
                position: relative;
                border-radius: 25px;
                a {
                    display: block;
                    padding: 10px 15px;
                    font-size: 30px;
                    font-weight: bold;
                    color: $white;
                    text-decoration: none;
                    border-radius: 25px;
                }
                &:hover {
                    background-color: $light-black;
                }
            }
        }
        .header-icon {
            top: 0px;
            right: 0px;
            height: 32px;
            padding: 9px 15px;
            position: absolute;
            font-size: 31px;
            text-decoration: none;
            color: $white;
            border-radius: 25px;
            &:hover {
                background-color: $light-black;
            }
        }
        #header-github-icon {
            right: 82px;
        }
        #header-mail-icon {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        #header-github-icon:hover + #header-github-popup,  #header-mail-icon:hover + #header-mail-popup{
            top: 60px;
            opacity: 1;
            visibility: visible;
        }
        .header-popup {
            top: 80px;
            padding: 10px 15px;
            position: absolute;
            font-family: 'Raleway', sans-serif;
            font-size: 16px;
            font-weight: 500;
            color: $white;
            background-color: $green;
            border-radius: 25px;
            opacity: 0;
            visibility: hidden;
            &:before {
                content: '';
                top: -5px;
                left: 35px;
                width: 10px;
                height: 10px;
                position: absolute;
                z-index: -5;
                background-color: $green;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
        #header-github-popup {
            right: 10px;
            &:before {
                left: 93px;
            }
        }
        #header-mail-popup {
            right: 10px;
            &:before {
                left: 69px;
            }
        }
    }
    section#about {
        background-image: url("../img/about-background.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        z-index: -9;
        font-family: 'Raleway', sans-serif;
        #about-mask {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(244, 105, 105, 0.85);
        }
        #about-content {
            max-width: 1024px;
            margin: 0px auto;
            padding: 100px 30px;
            padding-bottom: 50px;
            position: relative;
            text-align: center;
            h2 {
                margin: 50px;
                font-size: 68px;
                color: $white;
            }
            #about-button {
                bottom: 0px;
                margin: 0px;
                margin-top: 100px;
                padding: 10px 15px;
                font-family: 'Raleway', sans-serif;
                font-size: 18px;
                font-weight: 300;
                color: $white;
                background-color: $green;
                border: 2px solid transparent;
                border-radius: 25px;
                outline: none;
                cursor: pointer;
                &:hover {
                    background-color: $white;
                    color: $green;
                }
            }
        }
    }
    section#profile {
        width: 100%;
        position: relative;
        overflow: hidden;
        background-color: $blue; 
        #profile-info {
            width: 100%;
            #profile-info-content {
                max-width: 1024px;
                margin: 0px auto;
                padding: 13px 0px;
                text-align: center;
                font-family: 'Raleway', sans-serif;
                font-size: 24px;
                font-weight: 600;
                color: $white;
                border-bottom: 2px solid $white;
            }
        }
        #profile-content {
            max-width: 1024px;
            padding: 100px 30px;
            margin: 0px auto;
            text-align: center;
            font-family: 'Raleway', sans-serif;
            #profile-image {
                width: 250px;
                height: 250px;
                margin: 0px auto;
                border-radius: 125px;
                border: 2px solid $white;
                background-image: url("../img/profile.jpg");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                background-size: cover;
            }
            h2 {
                margin: 100px auto;
                margin-bottom: 0px;
                font-size: 30px;
                color: $white;
                line-height: 2;
                a {
                    text-decoration: underline;
                    color: $green;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    section#projects {
        width: 100%;
        position: relative;
        overflow: hidden;
        background-color: rgb(225, 225, 225);
        #projects-info {
            width: 100%;
            #projects-info-content {
                max-width: 1024px;
                margin: 0px auto;
                padding: 13px 0px;
                text-align: center;
                font-family: 'Raleway', sans-serif;
                font-size: 24px;
                font-weight: 600;
                color: $blue;
                border-bottom: 2px solid $blue;
            }
        }
        #projects-content {
            max-width: 1024px;
            padding: 100px 30px;
            margin: 0px auto;
            text-align: center;
            font-family: 'Raleway', sans-serif;
            ul {
                width: 100%;
                display: inline-block;
                li {
                    width: calc(100% / 3);
                    height: 400px;
                    display: inline-block;
                    float: left;
                    .pr-li-mask {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        background-color: $dark-black;
                        opacity: 0.7;
                        &:hover {
                            opacity: 1;
                            .pr-title {
                                margin-top: 65px;
                            }
                            .pr-check-button {
                                bottom: 146px;
                                opacity: 1;
                            }
                            .pr-code-button {
                                bottom: 55px;
                                opacity: 1;
                            }
                            .pr-desc {
                                margin-top: 52px;
                                opacity: 1;
                            }
                            .pr-placeholder-title {
                                margin-top: 53px;
                            }
                            .pr-placeholder-desc {
                                margin-top: 92px;
                            }
                            .pr-placeholder-button {
                                bottom: 52px;
                            }
                        }
                        .pr-title {
                            margin-top: 188px;
                            display: inline-block;
                            font-size: 24px;
                            font-weight: bold;
                            color: $white;
                        }
                        .pr-desc {
                            margin-top: 65px;
                            padding: 0px 25px;
                            font-weight: 500;
                            color: white;
                            opacity: 0;
                        }
                        .pr-check-button, .pr-code-button {
                            left: 50%;
                            bottom: 55px;
                            margin-left: -68px;
                            padding: 10px 15px;
                            display: inline-block;
                            position: absolute;
                            font-size: 18px;
                            font-weight: 500;
                            color: $red;
                            background-color: $white;
                            opacity: 0;
                            border: 2px solid transparent;
                            border-radius: 25px;
                            outline: none;
                            text-decoration: none;
                            cursor: pointer;
                            &:hover {
                                color: $white;
                                background-color: $red;
                            } 
                        }
                        .pr-code-button {
                            bottom: 0px;
                        }
                        .pr-placeholder-title {
                            margin-top: 178px;
                            padding: 10px 15px;
                            border: 2px dashed $white;
                            border-radius: 25px;
                        }
                        .pr-placeholder-button {
                            bottom: 0px;
                            margin-left: -39px;
                            cursor: default;
                        }
                    }
                }
                #one-pr-li {
                    background-image: url("../img/tictac.jpg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    background-size: cover;
                }
                #two-pr-li {
                    background-image: url("../img/itunesgrid.jpg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    background-size: cover;
                }
                #three-pr-li {
                    background-image: url("../img/contactform.jpg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    background-size: cover;
                }
                #four-pr-li {
                    background-image: url("../img/calculator.jpg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    background-size: cover;
                }
                #five-pr-li {
                    background-image: url("../img/personalsite.jpg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    background-size: cover;
                }
                #six-pr-li {
                    background-image: url("../img/animatedlinks.jpg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    background-size: cover;
                }
                #seven-pr-li {
                    background-image: url("../img/schoolportfolio.jpg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    background-size: cover;
                }
                #eight-pr-li {
                    background-image: url("../img/menu.jpg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    background-size: cover;
                }
                #nine-pr-li {
                    background-image: url("../img/companypage.jpg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    background-size: cover;
                }
                #ten-pr-li {
                    background-image: url("../img/loginform.jpg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    background-size: cover;
                }
                #eleven-pr-li, #twelve-pr-li {
                    background-color: $red;
                }
            }
        }
    }
    footer {
        width: 100%;
        position: relative;
        overflow: hidden;
        background-color: $red;
        #footer-content {
            max-width: 1024px;
            padding: 100px 30px;
            margin: 0px auto;
            font-family: 'Raleway', sans-serif;
            h1 {
                width: 150px;
                display: inline-block;
                position: relative;
                border-radius: 25px;
                a {
                    display: block;
                    padding: 10px 15px;
                    font-size: 30px;
                    font-weight: bold;
                    color: $white;
                    text-decoration: none;
                    border: 2px solid $white;
                    border-radius: 25px;
                    cursor: pointer;
                }
                &:hover {
                    background-color: $white;
                    a {
                        color: $red;
                    }                
                }
            }
            ul {
                margin-top: 9px;
                display: inline-block;
                float: right;
                li {
                    margin-left: 10px;
                    float: left;
                    a {
                        display: block;
                        padding: 10px 15px;
                        font-size: 18px;
                        font-weight: 600;
                        color: $white;
                        text-decoration: none;
                        border-radius: 25px;
                        cursor: pointer;
                        &:hover {
                            background-color: $light-black;
                        }
                    }
                } 
            }
            h3 {
                margin-top: 30px;
                color: $white;
                text-align: left;
            }                
        }
    }   
}
    nav {
        width: 200px;
        height: 100%;
        top: 0px;
        left: -200px;
        position: fixed;
        z-index: 200;
        background-color: $green;
        font-family: 'Raleway', sans-serif;
        ul {
            margin-top: 50px;
            li {
                margin: 10px;
                border-radius: 25px;
                cursor: pointer;
                a { 
                    padding: 14px 15px;
                    display: block;
                    position: relative;
                    font-size: 22px;
                    font-weight: 600;
                    color: $white;
                    text-align: left;
                    text-decoration: none;
                    border-radius: 25px;
                    span {
                        top: 9px;
                        margin-left: -10px;
                        position: absolute;
                        font-size: 33px;
                        opacity: 0;
                    }
                }
                &:hover {
                    a {
                        background-color: $light-black;
                    }
                    span {
                        opacity: 1;
                    }
                    .nav-arrow-one {
                        margin-left: 60px;
                    }
                    .nav-arrow-two {
                        margin-left: 21px;
                    }
                    .nav-arrow-three {
                        margin-left: 2px;
                    }
                }
            } 
        }
        .nav-icon {
            margin: 10px;
            padding: 10px 15px;
            position: absolute;
            font-size: 32px;
            color: $white;
            text-decoration: none;
            border-radius: 25px;
            cursor: pointer;
            &:hover {
                background-color: $light-black;
            }
        }
        #nav-github-icon {
            left: 0px;
        }
        #nav-mail-icon {
            right: 0px;
        }
        #nav-github-icon:hover + #nav-github-popup,  #nav-mail-icon:hover + #nav-mail-popup{
            top: 302px;
            opacity: 1;
            visibility: visible;
        }
        .nav-popup {
            top: 322px;
            padding: 6px 8px;
            position: absolute;
            font-size: 16px;
            font-weight: 500;
            color: $white;
            background-color: $red;
            border-radius: 25px;
            opacity: 0;
            visibility: hidden;
            &:before {
                content: '';
                top: -5px;
                width: 10px;
                height: 10px;
                position: absolute;
                z-index: -5;
                background-color: $red;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
        #nav-github-popup {
            left: 4.5px;
            &:before {
                left: 38px;
            }
        }
        #nav-mail-popup {
            right: 8px;
            &:before {
                left: 41px;
            }
        }
    }
    .transition {
        -webkit-transition: All 0.3s ease;
        -moz-transition: All 0.3s ease;
        -o-transition: All 0.3s ease;
        transition: All 0.3s ease;
    }
    .sticky {
        position: fixed !important;
        margin-top: 0px !important;
        background-color: rgb(244, 105, 105);
    }
}

/************************************************************ MEDIA QUERIES ************************************************************/

@media all and (max-width: 620px) {
    body {
        #main {
            section#profile {
                #profile-content {
                    padding: 50px 30px;
                    h2 {
                        margin-top: 50px;
                        font-size: 24px;
                    }
                }
            }
            section#projects {
                #projects-content {
                    padding: 50px 30px;
                    ul {
                        li {
                            width: 80% !important;
                            float: none;
                        }
                    }
                }
            }
            section#contact {
                #contact-content {
                    padding: 50px 30px;
                }
            }
            footer {
                #footer-content {
                    padding: 50px 30px;
                    text-align: center;
                    h1 {
                        float: left;
                    }
                    ul {
                        margin-top: 30px;
                        float: none;
                    }
                }
            }
        }
    }
}
@media all and (max-width: 770px) {
    body {
        #main {
            section#contact {
                #contact-content {
                    form {
                        input, textarea {
                            width: 75%;
                        }
                    }
                }
            }
        }
    }
    
}
@media all and (max-width: 925px) {
    body {
        #main {
            section#projects {
                #projects-content {
                    ul {
                        li {
                            width: calc(100% / 2);
                        }
                        #eleven-pr-li, #twelve-pr-li {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
@media all and (max-width: 1024px) {
    body {
        #main {
            section#profile {
                #profile-info {
                    #profile-info-content {
                    margin: 0px 25px;                
                    }
                }
            }
            section#projects {
                #projects-info {
                    #projects-info-content {
                        margin: 0px 25px;
                    }
                }
            }
        }
    }
}
@media all and (max-width: 500px) {
    body {
        #main {
            header {
                .header-icon {
                    display: none;
                }
            }
            section#projects {
                #projects-content {
                    ul {
                        li {
                            width: 100% !important;
                            float: none;
                        }
                    }
                }
            }
        }
    }
}
/************************************************************ END MEDIA QUERIES ************************************************************/
