$white: rgb(255, 255, 255);

$light-black: rgba(0, 0, 0, 0.2);
$dark-black: rgba(0, 0, 0, 0.9);

$red: rgb(244, 105, 105);
$blue: rgb(94, 110, 141);
$green: rgb(53, 167, 133);

.transition {
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    transition: All 0.5s ease;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 10px $green; 
	}
  50% {
    box-shadow: 0px 0px 80px $green; 
    }
  100% {
    box-shadow: 0px 0px 10px $green; 
	} 
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0px 0px 10px $green; 
	}
  50% {
    box-shadow: 0px 0px 80px $green; 
    }
  100% {
    box-shadow: 0px 0px 10px $green; 
	} 
}
@-webkit-keyframes font-color {
	0% {
    	color: $white;
	}
  	50% {
    	color: $green;
    }
  	100% {
    	color: $white;
	} 
}

// Animation mixin
@mixin animation($var) {
	-webkit-animation: $var;
	-moz-animation: $var;
	-o-animation: $var;
	animation: $var;
}

// Transform mixin
@mixin transform($var) {
	-webkit-transform: $var;
	-moz-transform: $var;
	-ms-transform: $var;
	transform: $var;
}

@import "reset";
@import "page";