/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  font-family: 'Jura', sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0.2, #3aa47d), color-stop(1, #007b9d));
  background-image: -o-linear-gradient(left top, #3aa47d 20%, #007b9d 100%);
  background-image: -moz-linear-gradient(left top, #3aa47d 20%, #007b9d 100%);
  background-image: -webkit-linear-gradient(left top, #3aa47d 20%, #007b9d 100%);
  background-image: -ms-linear-gradient(left top, #3aa47d 20%, #007b9d 100%);
  background-image: linear-gradient(to left top, #3aa47d 20%, #007b9d 100%); }
  html #main, body #main {
    width: 100%;
    height: 100%;
    position: relative; }
    html #main #main-content, body #main #main-content {
      width: 400px;
      height: 400px;
      top: 50%;
      left: 50%;
      margin: -200px -200px;
      position: absolute;
      border-radius: 200px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -webkit-animation: head 2s linear infinite;
      -moz-animation: head 2s linear infinite;
      animation: head 2s linear infinite; }
      html #main #main-content .container, body #main #main-content .container {
        width: 200px;
        height: 200px;
        float: left;
        position: absolute; }
        html #main #main-content .container .container-content, body #main #main-content .container .container-content {
          position: absolute;
          width: 100%;
          height: 100%;
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
          cursor: pointer; }
          html #main #main-content .container .container-content .first-span, body #main #main-content .container .container-content .first-span {
            top: 50%;
            left: 50%;
            position: relative;
            float: left;
            display: block;
            font-size: 46px;
            color: #34afaa;
            text-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            opacity: 1; }
          html #main #main-content .container .container-content .second-span, body #main #main-content .container .container-content .second-span {
            top: 50%;
            left: 50%;
            position: relative;
            float: left;
            display: block;
            font-size: 24px;
            color: #34afaa;
            text-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            opacity: 0; }
          html #main #main-content .container .container-content .third-span, body #main #main-content .container .container-content .third-span {
            top: 50%;
            left: 50%;
            position: relative;
            float: left;
            display: block;
            font-size: 34px;
            color: #34afaa;
            text-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            opacity: 0; }
        html #main #main-content .container:hover .container-content, body #main #main-content .container:hover .container-content {
          z-index: 999;
          width: 240px;
          height: 240px;
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5); }
          html #main #main-content .container:hover .container-content .first-span, body #main #main-content .container:hover .container-content .first-span {
            opacity: 0; }
          html #main #main-content .container:hover .container-content .second-span, body #main #main-content .container:hover .container-content .second-span {
            opacity: 1; }
          html #main #main-content .container:hover .container-content .third-span, body #main #main-content .container:hover .container-content .third-span {
            opacity: 1; }
      html #main #main-content #about, body #main #main-content #about {
        border-top-left-radius: 200px; }
        html #main #main-content #about #about-content, body #main #main-content #about #about-content {
          bottom: 0px;
          right: 0px;
          background-color: #ecfffe;
          border-top-left-radius: 200px; }
          html #main #main-content #about #about-content .icon-adult, body #main #main-content #about #about-content .icon-adult {
            margin: -10px -15px; }
          html #main #main-content #about #about-content .second-span, body #main #main-content #about #about-content .second-span {
            margin: 10px -70px; }
          html #main #main-content #about #about-content .third-span, body #main #main-content #about #about-content .third-span {
            margin: -53px -89px; }
        html #main #main-content #about:hover #about-content, body #main #main-content #about:hover #about-content {
          border-top-left-radius: 240px; }
      html #main #main-content #work, body #main #main-content #work {
        right: 0px;
        border-top-right-radius: 200px; }
        html #main #main-content #work #work-content, body #main #main-content #work #work-content {
          bottom: 0px;
          left: 0px;
          background-color: #ecfffe;
          border-top-right-radius: 200px; }
          html #main #main-content #work #work-content .icon-cog, body #main #main-content #work #work-content .icon-cog {
            margin: -5px -48px; }
          html #main #main-content #work #work-content .second-span, body #main #main-content #work #work-content .second-span {
            margin: 31px -136px; }
          html #main #main-content #work #work-content .third-span, body #main #main-content #work #work-content .third-span {
            margin: -51px 13px;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg); }
        html #main #main-content #work:hover #work-content, body #main #main-content #work:hover #work-content {
          border-top-right-radius: 240px; }
      html #main #main-content #portfolio, body #main #main-content #portfolio {
        bottom: 0px;
        left: 0px;
        border-bottom-left-radius: 240px; }
        html #main #main-content #portfolio #portfolio-content, body #main #main-content #portfolio #portfolio-content {
          top: 0px;
          right: 0px;
          background-color: #ecfffe;
          border-bottom-left-radius: 240px; }
          html #main #main-content #portfolio #portfolio-content .icon-folder-open, body #main #main-content #portfolio #portfolio-content .icon-folder-open {
            margin: -43px -13px; }
          html #main #main-content #portfolio #portfolio-content .second-span, body #main #main-content #portfolio #portfolio-content .second-span {
            margin: -36px -22px; }
          html #main #main-content #portfolio #portfolio-content .third-span, body #main #main-content #portfolio #portfolio-content .third-span {
            margin: 17px -61px;
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg); }
        html #main #main-content #portfolio:hover #portfolio-content, body #main #main-content #portfolio:hover #portfolio-content {
          border-bottom-left-radius: 240px; }
      html #main #main-content #contact, body #main #main-content #contact {
        bottom: 0px;
        right: 0px;
        border-bottom-right-radius: 240px; }
        html #main #main-content #contact #contact-content, body #main #main-content #contact #contact-content {
          top: 0px;
          left: 0px;
          background-color: #ecfffe;
          border-bottom-right-radius: 240px; }
          html #main #main-content #contact #contact-content .icon-email, body #main #main-content #contact #contact-content .icon-email {
            margin: -41px -50px; }
          html #main #main-content #contact #contact-content .second-span, body #main #main-content #contact #contact-content .second-span {
            margin: -30px -78px; }
          html #main #main-content #contact #contact-content .third-span, body #main #main-content #contact #contact-content .third-span {
            margin: 19px 10px;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg); }
        html #main #main-content #contact:hover #contact-content, body #main #main-content #contact:hover #contact-content {
          border-bottom-right-radius: 240px; }
  html .mask-main, body .mask-main {
    width: 320px;
    height: 320px;
    top: 50%;
    left: 50%;
    margin: -200px -200px;
    padding: 40px;
    position: absolute;
    background-color: #ecfffe;
    border-radius: 200px;
    opacity: 0;
    z-index: -99;
    line-height: 1.5; }
    html .mask-main header, body .mask-main header {
      width: 280px;
      margin: 20px;
      margin-top: 30px;
      padding-bottom: 5px;
      font-size: 20px;
      border-bottom: 1px solid black; }
      html .mask-main header h1, body .mask-main header h1 {
        display: inline-block;
        color: black; }
      html .mask-main header span, body .mask-main header span {
        float: right;
        border-radius: 10px; }
        html .mask-main header span:before, body .mask-main header span:before {
          margin: 0px; }
  html #about-main #about-main-content, body #about-main #about-main-content {
    width: 280px;
    height: 100px;
    margin: 20px; }
    html #about-main #about-main-content #about-main-image, body #about-main #about-main-content #about-main-image {
      width: 100px;
      height: 100px;
      float: left;
      background-image: url("https://scontent-b-cdg.xx.fbcdn.net/hphotos-ash3/523417_463546267001038_88155853_n.jpg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-size: cover;
      border-radius: 50px;
      border: 2px solid #34afaa; }
    html #about-main #about-main-content p, body #about-main #about-main-content p {
      margin-left: 20px;
      float: left; }
      html #about-main #about-main-content p h1, body #about-main #about-main-content p h1 {
        float: left; }
  html #portfolio-main #portfolio-main-content, body #portfolio-main #portfolio-main-content {
    width: 280px;
    height: 100px;
    margin: 20px; }
    html #portfolio-main #portfolio-main-content h2 a, body #portfolio-main #portfolio-main-content h2 a {
      color: #34afaa;
      text-decoration: none; }
      html #portfolio-main #portfolio-main-content h2 a:hover, body #portfolio-main #portfolio-main-content h2 a:hover {
        color: #5bd3ce; }

.transition {
  -webkit-transition: All 0.3s ease-in-out;
  -moz-transition: All 0.3s ease-in-out;
  -o-transition: All 0.3s ease-in-out;
  transition: All 0.3s ease-in-out; }

/************************************************************ MEDIA QUERIES ************************************************************/
/************************************************************ END MEDIA QUERIES ************************************************************/
@keyframes head {
  0% {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4); }

  50% {
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.7); }

  100% {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); } }

@-webkit-keyframes head {
  0% {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4); }

  50% {
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.7); }

  100% {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); } }
